.auth-div{
    background-image: url('../../assets/images/backgrounds/backgroung.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.title{
    color: #6644F7;
}

.input, .box, .button-auth-icon{
    border-radius: 20px;
}

.button-auth{
    background-image: linear-gradient(to right, #FF136F, #FF589B);
    padding: 25px;
    border-radius: 25px;
    width: 100%;
}

.button-auth:hover{
    background-image: linear-gradient(to right, #FF589B, #FF136F);
}

.button-auth-icon{
    background: white;
    margin: 5px;
}

.button-auth-icon svg{
    color: #FF136F;
}

.box{
    width: 70%;
    margin-left: 10%;
    margin-top: 70px;
    margin-bottom: 20px;
}

.image{
    width: 80%;
    margin-left: 10%;
}

.remember-me, .forgot-password, .reg-or-login-text{
    text-align: center;
}

.reg-or-login-text{
    margin-top: 10px;
}

@media only screen and (max-width: 768px){
    .box{
        width: 80%;
        margin-left: 10%;
    }
}